<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
  <title>RANGERS HOME PAGE</title>
  <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
</head>
<body>
  <nav id="nav">
    <ul>
      <li><img class="logo" src="http://www.stickpng.com/assets/images/584d46dc0a44bd1070d5d452.png" alt="Rangers Logo"></li>
      <li id="company-name">RANGERS</li>
      <li class="link"><a href="merchandise.html">RANGERS MERCH</a></li>
      <li class="link"><a href="tour-dates.html">RANGERS SEASON</a></li>
    </ul>
  </nav>
  <div class="parallax">
    <div class="pic">HI
    </div>
      <div class="bio">
      <h3>Ranger's History</h3>
        <p>The story of the Texas Rangers actually started in Washington DC as the Washington Senators in 1960. In 1971, the franchise renamed itself the Texas Rangers and started their first season in Arlington, Texas. They have stayed in Texas as a part of the American League West Division since this day.</p>
      </div>
  </div>
  <br>
  <div class="highlights"><h2>WATCH THE 2016 HIGHLIGHTS</h2></div>
  <br>
  <div class="video">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/nnz7fsKbTNQ" frameborder="0" allowfullscreen></iframe>
  </div>
</body>
</html>